/ExemploCineminha/nbproject/private/
ExemploCineminha/build.xml
ExemploCineminha/manifest.mf
ExemploCineminha/nbproject/build-impl.xml
ExemploCineminha/nbproject/genfiles.properties
ExemploCineminha/nbproject/project.properties
ExemploCineminha/nbproject/project.xml
